# File managed by Ansible

ORGNAME = Testing

ALTNAMES = DNS:{{ ansible_fqdn }}

[ req ]
default_bits = 4096
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn
req_extensions = req_ext

[ dn ]
C = US
O = $ORGNAME
CN = {{ ansible_fqdn }}

[ req_ext ]
subjectAltName = $ALTNAMES
